<%- include('partial/header.ejs') %>

    <main class="container">

        <%# If there are no posts, use if to show and ask to create new posts %>

        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <h1 class="display-4 fw-normal text-body-emphasis">Este es el inventario de calzado</h1>
            <p class="fs-5 text-body-secondary">Los Productos que añadas, se reflejarán aqui</p>
        </div>

        <%- include('partial/createdPosts') %>

    </main>



    <%- include('partial/footer') %>