<div class="row mb-2">

    <%- include('postCreator.ejs') %>


    <%# Pending tasks
    Create an unordered list of items with the Titles of each post, by clicking the post, the page will direct us to the post content
    each post will contain edit and delete buttons%>

           


</div>s